<ons-page ng-controller="AppController">
    <ons-toolbar>
        <div class="center">Personas</div>
    </ons-toolbar>

    <ons-modal direction="up">
        <div style="text-align: center">
            <p>
                <ons-icon icon="md-spinner" size="28px" spin></ons-icon> Loading...
            </p>
        </div>
    </ons-modal>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Edad</th>
                <th scope="col">Sexo</th>
                <th scope="col">Documento (Imágen)</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="campo in campos">
                <td scope="row"> {{campo.nombre}} {{campo.app}} </td>
                <td scope="row">{{campo.edad}}</td>
                <td scope="row">{{campo.sexo}}</td>
                <td scope="row">

                    <div ng-if="campo.archivo"><img src="{{campo.archivo}}" alt="Archivo" width="50px"></div>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <form ng-submit="guardar()" id="guardar">
        <p style="margin-right: 30%; margin-left: 5%;">
            <input type="text" class="form-control" id="nombre" ng-class="text-input" ng-model="nombre" placeholder="Nombre" required="true" autofocus>
            <br>
            <br>
            <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this)" />
            <br>
            <br>
            <ons-button ng-click="guardar()"> Guardar </ons-button>
            <ons-button ng-click="desdeApi()"> Agregar desde API </ons-button>
    </form>



</ons-page>