div.centrar{
text-align: center;
}
div.centrar table {
margin: 0 auto;
text-align: left;
padding: 5px;
}
.right{
  text-align: right;
  padding-right:25px;
}

.centrar_div {
  margin: 1rem;
  padding-top:43%;
}	