.text-input.full{
	width:90%;
	margin-left:5%;
	background:#fff;
	height:40px;
}
.text-input.full-e{
	width:-webkit-calc(100% - 70px);
	width:calc(100% - 70px);
	margin-left:8px;
	background:#fff;
	height:40px;
}
.lost-password{
	width:90%;
	margin-left:5%;
	text-align:center;
	margin-top:8px;
	font-size:12px;
}
.ptext{
	padding:12px;
	font-size:15px;
}
.btn_home{
	width:80%;
	border:1px solid #3562A7;
	border-radius:4px;
	margin-bottom:8px;
	margin-left:10%;
	text-align:center;
}
.btn_home .text{
	padding:12px;
	color:#3562A7;
	font-weight:bold;
}
.list__item.active{
	background:#3562A7;
	color:#fff;
}


.reply-notification {
  position: absolute;
  top: 28px;
  font-size: 10px;
  font-weight: 600;
  height: 13px;
  line-height: 13px;
  padding: 0 4px;
  min-width: 13px;
  margin-left: 18px;
}

.tab-icon {
  font-size: 28px;
  vertical-align: -4px;
}

.timeline {
  margin-top: 10px;
  margin-bottom: 10px;
}

.timeline-li {
  line-height: 1;
  padding: 10px;
}

.timeline-li.active{
	background:#3562A7;
	color:#fff;
}

.timeline-image {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.timeline-date {
  font-size: 12px;
  opacity: 0.35;
}

.timeline-message {
  margin-top: 4px;
  font-size: 14px;
  opacity: 0.8;
  line-height: 1.15;
}
.settings-header {
  font-weight: 500;
  font-size: 14px;
  opacity: 0.4;
  padding: 10px 0 0px 10px;
  margin-bottom: -4px;
}
.settings-header_full{
  font-weight: 500;
  font-size: 14px;
  opacity: 0.4;
  padding: 10px 0 0px 10px;
}
.userchat{
	font-weight:bold;
}
.userchat.yo{
	color:#3562A7;
}
.chat{
	font-size:14px;
	margin-top:10px;
}
.chat li{
	padding:4px;
	padding-top:8px;
	padding-bottom:8px;
	line-height:15px;
	height:auto;
	min-height:0px;
}
.logo_delivery{
	width:30px;
	height:30px;
	float:left;
	margin-right:7px;
	margin-top:7px;
	border-radius:3px;
}


.card {
  background: url(../images/bg_estafeta.png) center no-repeat #DA2820;
  background-size: 100%;
  height: 160px;
}
.prop-desc {
  font-size: 14px;
  opacity: 0.7;
}

.prop-desc ons-icon {
  font-size: 14px;
  vertical-align: -0px;
  opacity: 0.5;
}